body {
    background-color: #111;
    display: flex;
}

p {
    width: auto;
}

footer {
    position: fixed;
    bottom: 2%;
}

.banner {
    width: 100%;
}

.pagebody {
    background-color: #222;
    color: #ccc;
    padding: 0% 16% 3% 16%;
    overflow: hidden;
    background-image: linear-gradient(#333,#111);
}

.bannerlink {
    background-color: #444;
    color: white;
    font-size: 18px;
}

.linkyel {
    background-color: #000;
    color: yellow;
}

.linkgre {
    background-color: #000;
    color: greenyellow;
}