body {
    background-color: #111;
    display: flex;
}

p {
    width: auto;
}

footer {
    position: fixed;
    bottom: 2%;
}

img {
    width: 100%;
    height: auto;
}

.footer2 {
    position: relative;
    bottom: 0%;
}

.banner {
    width: 100%;
}

.pagebody {
    background-color: #222;
    color: #ccc;
    padding: 2% 18% 2% 18%;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(#333,#111);
}

.linkyel {
    background-color: #000;
    color: yellow;
}

.linkgre {
    background-color: #000;
    color: greenyellow;
}

.verticalimg {
    height: 100%;
    width: auto;
}

.horizanimg {
    height: auto;
    width: 100%;
}

a:link {
    color: #fff;
}

video {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

li {
    position: relative;
}

li ul {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 2px 6px 6px 6px;
}
  
li:hover ul {
    display: block;
}

nav ul ul li{
    width: 225px;
    float: none;
    display: list-item;
    position: relative;

}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

.nav {
    position: fixed;
    background-color: #444;
    font-size: 20px;
    float: left;
    padding: 0px;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.menu {
    display: inline-block;
    font-weight: bold;
}
  
.up {
    position: fixed;
    bottom: 100px;
    right: 16%;
    background-color: #444;
    padding: 5px;
}

.down {
    position: fixed;
    bottom: 60px;
    right: 16%;
    background-color: #444;
    padding: 5px;
}

